In [36]:
import pandas as pd

In [37]:
wsj_df = pd.read_csv('japanese_companies_wsj.csv', dtype='object')
wsj_df = wsj_df.rename(columns={'Name': 'English'})
wsj_df['Source'] = '1WSJ'
wsj_df.info()
wsj_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3322 entries, 0 to 3321
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   English   3322 non-null   object
 1   TSE       3322 non-null   object
 2   Exchange  3322 non-null   object
 3   Industry  3318 non-null   object
 4   Source    3322 non-null   object
dtypes: object(5)
memory usage: 129.9+ KB

                 English   TSE Exchange                       Industry Source
0  &Do Holdings Co. Ltd.  3457     XTKS         Real Estate Developers   1WSJ
1        21LADY Co. Ltd.  3346     XNGO  Diversified Business Services   1WSJ
2        3-D Matrix Ltd.  7777     XJAS                      Chemicals   1WSJ
3        4Cs HD Co. Ltd.  3726     XTKS               Specialty Retail   1WSJ
4           77 Bank Ltd.  8341     XTKS                        Banking   1WSJ

In [38]:
wiki_df = pd.read_csv('japanese_companies_wiki.csv', dtype='object')
wiki_df['Source'] = '2WIKI'
wiki_df.info()
wiki_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 601 entries, 0 to 600
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   English   601 non-null    object
 1   Japanese  591 non-null    object
 2   Romaji    589 non-null    object
 3   TSE       375 non-null    object
 4   Source    601 non-null    object
dtypes: object(5)
memory usage: 23.6+ KB

      English     Japanese                                 Romaji   TSE Source
0     77 Bank    株式会社七十七銀行  Kabushiki-gaisha Shichijūshichi Ginkō  8341  2WIKI
1  81 Produce     81プロデュース                      Eitiwan Purodyūsu   NaN  2WIKI
2        Acom      アコム株式会社                 Akomu Kabushiki-gaisha  8572  2WIKI
3   Advantest  株式会社アドバンテスト          Kabushiki-gaisha Adobantesuto  6857  2WIKI
4         Æon      イオン株式会社                   Ion Kabushiki-gaisha  8267  2WIKI

### Merge Wikipedia and WSJ results

In [39]:
df = pd.concat([wsj_df, wiki_df]).reset_index(drop=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3923 entries, 0 to 3922
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   English   3923 non-null   object
 1   TSE       3697 non-null   object
 2   Exchange  3322 non-null   object
 3   Industry  3318 non-null   object
 4   Source    3923 non-null   object
 5   Japanese  591 non-null    object
 6   Romaji    589 non-null    object
dtypes: object(7)
memory usage: 214.7+ KB

In [40]:
df = df.sort_values(by=['English', 'Source'])
df.head()

,English,TSE,Exchange,Industry,Source,Japanese,Romaji
0,&Do Holdings Co. Ltd.,3457,XTKS,Real Estate Developers,1WSJ,NaN,NaN
1,21LADY Co. Ltd.,3346,XNGO,Diversified Business Services,1WSJ,NaN,NaN
2,3-D Matrix Ltd.,7777,XJAS,Chemicals,1WSJ,NaN,NaN
3,4Cs HD Co. Ltd.,3726,XTKS,Specialty Retail,1WSJ,NaN,NaN
3322,77 Bank,8341,NaN,NaN,2WIKI,株式会社七十七銀行,Kabushiki-gaisha Shichijūshichi Ginkō

### Deduplicate

In [41]:
df = df.drop_duplicates(subset=['TSE'], keep='first').reset_index(drop=True)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3385 entries, 0 to 3384
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   English   3385 non-null   object
 1   TSE       3384 non-null   object
 2   Exchange  3081 non-null   object
 3   Industry  3077 non-null   object
 4   Source    3385 non-null   object
 5   Japanese  303 non-null    object
 6   Romaji    303 non-null    object
dtypes: object(7)
memory usage: 185.2+ KB

,English,TSE,Exchange,Industry,Source,Japanese,Romaji
0,&Do Holdings Co. Ltd.,3457,XTKS,Real Estate Developers,1WSJ,NaN,NaN
1,21LADY Co. Ltd.,3346,XNGO,Diversified Business Services,1WSJ,NaN,NaN
2,3-D Matrix Ltd.,7777,XJAS,Chemicals,1WSJ,NaN,NaN
3,4Cs HD Co. Ltd.,3726,XTKS,Specialty Retail,1WSJ,NaN,NaN
4,77 Bank,8341,NaN,NaN,2WIKI,株式会社七十七銀行,Kabushiki-gaisha Shichijūshichi Ginkō

In [44]:
output_columns = [
    'English', 'Japanese', 'Industry', 'TSE', 'Exchange', 'Source'
]
df.to_csv('japanese_companies.csv', index=False, encoding='UTF-8', columns=output_columns)
print('Finished')

Finished

In [45]:
df[output_columns].head(100)

,English,Japanese,Industry,TSE,Exchange,Source
0,&Do Holdings Co. Ltd.,NaN,Real Estate Developers,3457,XTKS,1WSJ
1,21LADY Co. Ltd.,NaN,Diversified Business Services,3346,XNGO,1WSJ
2,3-D Matrix Ltd.,NaN,Chemicals,7777,XJAS,1WSJ
3,4Cs HD Co. Ltd.,NaN,Specialty Retail,3726,XTKS,1WSJ
4,77 Bank,株式会社七十七銀行,NaN,8341,NaN,2WIKI
...,...,...,...,...,...,...
95,Akatsuki Corp.,NaN,Securities,8737,XTKS,1WSJ
96,Akatsuki Inc.,NaN,Toys & Games,3932,XTKS,1WSJ
97,Akebono Brake Industry,曙ブレーキ工業株式会社,NaN,7238,NaN,2WIKI
98,Akita Bank,株式会社秋田銀行,NaN,8343,NaN,2WIKI
99,Albert Inc.,NaN,Advertising/Marketing/Public Relations,3906,XTKS,1WSJ